.flex-container {
  display: flex;
  flex-wrap:wrap;
  margin:40px;
  font-size: 12px !important;
}

.flex-container > button {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 10px;
}

.flex-container button.p-button-text.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left {
  margin-right:20px ;
  margin-top:10px;
  height: 50px;
  width: 200px;
  background-color: #7ab7e7;
  border: 1px solid #298add;
  padding-top: 5px;
  padding-bottom: 5px;

}
::ng-deep body .flex-container span.ui-button-text.ui-clickable {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 160px;
  height: 2.2em;
  white-space: nowrap;
}
.flex-container .ui-button {
  font-size: 12px;
}

::ng-deep body .ui-button:hover {
  background-color: #007ad9 !important;
   color: #ffffff;
  border-color: #116fbf;
  
}