<h3 class="main-title">{{selectedScreen}}</h3>
<ng-container>
        <p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="putFiles($event.files)" [(ngModel)]="filesToUploadList"  multiple="multiple">
        
        </p-fileUpload>


<mat-table [dataSource]="listNomFichierDataSource" #fichierTable class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
         <ng-container matColumnDef="cours">
                        <mat-header-cell *matHeaderCellDef>Cours</mat-header-cell>
                        <mat-cell *matCellDef="let fichier">
                                {{fichier.nomFichier}} </mat-cell>
                </ng-container>

        <!-- Name Column -->
         <ng-container matColumnDef="telechargement">
                        <mat-header-cell *matHeaderCellDef>Télécharger</mat-header-cell>
                        <mat-cell *matCellDef="let fichier">
                                <span class="downloadButton">
                                        <button pButton icon="pi pi-download" type="button" pTooltip="Telecharger"
                                                (click)="getObjectFile(fichier.nomFichierComp)">
                                                <i class="pi pi-file-{{fichier.typeFichier== 'docx' ? 'o' : fichier.typeFichier}}"></i>
                                        </button>
                                </span>
                        </mat-cell>
                </ng-container>


         <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table> 
        <!-- <ng-container class="flex-container">
                <div *ngFor="let fichier of listNomFichier">
                        <div>{{fichier.nomFichier}}
                                <i class="pi pi-download" style="margin:5px"></i>
                                <i class="pi pi-file-{{fichier.typeFichier}}" style="margin:5px"></i>
                        </div>

                </div>
        </ng-container> -->
</ng-container>
