<h3 class="main-title">{{selectedScreen}}</h3>
<div class="p-grid filter-section">
        <div class="p-col-auto">

                <mat-form-field>
                        <mat-label>Matiére</mat-label>
                        <mat-select [(ngModel)]="matiereSelectione" (ngModelChange)="changerMatier()">
                                <mat-option *ngFor="let matiere of listmatiere" [value]="matiere.idMatier">
                                        {{matiere.nomMatier}}
                                </mat-option>
                        </mat-select>
                </mat-form-field>
        </div>
        <div class="p-col-auto">
                <mat-form-field>
                  <mat-label>selectionner le niveau</mat-label>
                  <mat-select [(ngModel)]="niveauSelectionner" (ngModelChange)="changerNiveau()">
                    <mat-option *ngFor="let niveau of niveauList" [value]="niveau.idNiveau">{{niveau.nomNiveau}}</mat-option>
                  </mat-select>
                </mat-form-field>
        </div>
</div>
<p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="putFiles($event.files)"
        [(ngModel)]="filesToUploadList" multiple="multiple" cancelLabel="Annuler" uploadLabel="Charger"
        chooseLabel="Ajouter Fichier">

</p-fileUpload>
<div class="flex-container">
        <div *ngFor="let fichier of listNomFichier">

                <button pButton type="button" class="p-button-text" tooltipPosition="top"
                        pTooltip="{{fichier.nomFichier}}" label="{{fichier.nomFichier}}"
                        icon="pi pi-{{fichier.typeFichier}}" (click)="getObjectFile(fichier.nomFichierComp) ">
                        <i class="pi pi-download"></i></button>
        </div>
</div>