<!doctype html>

<html>

<head>
  <title> Ajouter un Examen </title>
</head>

<body>
    <table>
       <div>
        <tr>
          <mat-form-field class="input">
            <input matInput type="text" id="name" name="name" placeholder="nom de l'examen" [(ngModel)]="examen.nomExamen">
          </mat-form-field>
        </tr>
        
  

        
        <tr>
          <mat-form-field class="input">
            <input matInput type="number" id="coefficeint" name="coefficeint de l'examen" placeholder="coefficeint de l'examen" [(ngModel)]="examen.coefficeint">
            </mat-form-field>
        </tr>
    
        <tr>
        <input matButton class = 'button' type="button" (click)="sauvegarder()" value="enregistrer ">
        <input matButton class = 'button' type="button" (click)="afficherListDesExamen()" value="afficher la liste des examens">

      </tr>
      </div>
     </table>
     <!-- <p-table [values]="cars">
     <ng-template pTemplate="header">
      <tr>
          <th>Vin</th>
          <th>Year</th> 
          <th>Brand</th>
          <th>Color</th>
      </tr>
  </ng-template>
</p-table> -->
  </body>

</html>