<h1 mat-dialog-title>{{data.title === 'modifier' ?   'Modifier Examen': 'Creer Examen'}}</h1>
<div mat-dialog-content>
  <form [formGroup]="profileFormGroup" (ngSubmit)="dialogClose()">
          <mat-form-field class="input">
            <input matInput type="text" id="name" name="name" placeholder="nom de l'examen"  formControlName="nomExamen" required>
          </mat-form-field>
          <mat-form-field class="input">
            <input matInput type="number" id="coefficeint" name="coefficeint de l'examen" placeholder="coefficeint de l'examen"  formControlName="coefficeint" required>
            </mat-form-field>
          <div mat-dialog-actions>
          <button mat-raised-button mat-dialog-close>Cancel</button>
          <button mat-raised-button type="submit" [disabled]="!profileFormGroup.valid">Sauvegarder</button>
        </div>

    </form>
  </div>
