<!doctype html>

<html>

<head>
  <title> Ajouter un Examen </title>
</head>

<body>
 <form [formGroup]="profileFormGroup" (ngSubmit)="dialogClose()">
    <table>
       <div>
       
        <tr>
          <mat-form-field class="input">
            <input matInput type="text" id="name" name="name" placeholder="nom de l'examen" [(ngModel)]="data.examen.nomExamen" formControlName="nomExamen" required>
          </mat-form-field>
        </tr>
        
  

        
        <tr>
          <mat-form-field class="input">
            <input matInput type="number" id="coefficeint" name="coefficeint de l'examen" placeholder="coefficeint de l'examen" [(ngModel)]="data.examen.coefficeint" formControlName="coefficeint" required>
            </mat-form-field>
        </tr>
    
        <tr>
          <button mat-raised-button mat-dialog-close>Cancel</button>
          <button mat-raised-button type="submit" [disabled]="!profileFormGroup.valid">Sauvegarder</button>

      </tr>
      </div>
     </table>
    </form>

  </body>

</html>