<!doctype html>

<html>

<head>
  <title> enseignant</title>
</head>
<body>
  <h1>enseignant</h1>
    <div class="div">
<input matButton class = 'button' type="button"  value="Acceuil">
  <mat-form-field>        
      <mat-label>Classe</mat-label>                                                              
    <mat-select [(ngModel)] ="classeSelectione"  (change)="onClasseSelection1()" >

        <mat-option *ngFor= "let c of classes" [value]="c.idClasse">  {{c.nomClasse}}  </mat-option>
       
    </mat-select>
  </mat-form-field> 
  <mat-form-field>
      <mat-label>Matiere</mat-label>                                                              
    <mat-select [(ngModel)] ="matiereSelectionee"  >
        <mat-option *ngFor= "let m of matieres" [value]="m.idMatiere"> {{m.nomMatiere}} </mat-option> 
    </mat-select>
</mat-form-field>
</div>
<ag-grid-angular 
    style="width: 1000px; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    >
</ag-grid-angular>
</body>
</html>