<!doctype html>

<html>

<head>
  <title> enseignant</title>
</head>
<body>
  <div class="div" ></div>
<table>
  <tr>
<input matButton class = 'button' type="button"  value="Acceuil">
</tr>
</table>
<div>
<mat-form-field>
  <mat-label>Classe</mat-label>
  <mat-select 
              >
    <mat-option value="classe1">classe1 niv1</mat-option>
    <mat-option value="classe2">classe2 niv3</mat-option>
    <mat-option value="classe3">classe3 niv4</mat-option>
  </mat-select>
</mat-form-field>
</div>
<ag-grid-angular 
    style="width: 1000px; height: 800px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    >
</ag-grid-angular>

</body>