<!doctype html>

<html>

<head>
  <title> creer_une_classe</title>
</head>

<body>
    <table>
       <div>
        <tr>
          <mat-form-field class="input">
            <input matInput type="text" id="name" name="name" placeholder="nom de la classe" appearance="standard"
              required minlength="4" maxlength="8" size="10" [(ngModel)]="classe.nomClasse">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="input">
            <input matInput type="text" id="niveau de la classe" name="niveau de la classe" placeholder="niveau de la calsse" required minlength="4" maxlength="8" size="10"[(ngModel)]="classe.nombreEleve" >
            </mat-form-field>
        </tr>
  
        
        <tr>
          <mat-form-field class="input">
            <input matInput type="number" id="number" name="nombre des eleves" placeholder="nombre des eleves" [(ngModel)]="classe.nombreEleve">
            </mat-form-field>
        </tr>
    
        <tr>
        <input matButton class = 'button' type="button" (click)="sauvegarder()" value="enregistrer">
      </tr>
      </div>
     </table>
  </body>
  </html>