table {
    width: 100%;
  }

  /*--STYLE TABLE--*/
.ag-theme-balham .ag-root {
  border: 1px solid #eeeeee;
}
.ag-theme-balham .ag-header {
  background-color: #298add;
  color: rgb(255 255 255);
  font-weight: 600;
  font-size: 12px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  border-bottom: 1px solid #298add;
}
.ag-theme-balham .ag-row {
  border-color: #eeeeee;
}

/*--CHECKBOX STYLE--*/
::ng-deep body .table-section .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
  overflow: hidden;
  position: relative;
  font-size: 11px;
  top: 2px;
}


@keyframes p-progress-spinner-color {
  100%,
  0% {
      stroke: #d62d20;
  }
  40% {
      stroke: #0057e7;
  }
  66% {
      stroke: #008744;
  }
  80%,
  90% {
      stroke: #ffa700;
  }
}
.p-grid.table-section {
  height: calc(100vh - 270px);
}
.bottom-section {
  text-align: right;
  padding: 0px 67px 0px;
  z-index: 99999;
  background-color: #f4f4f4;
  border: 1px solid #c8c8c8;
}