<h3 class="main-title">{{selectedScreen}}</h3>
<div class="p-grid filter-section">
  <div class="p-col-auto">
    <mat-form-field>
      <mat-label>Classe</mat-label>
      <mat-select [(ngModel)]="classeSelectione" (ngModelChange)="creerAgGridNoteEleve()">
        <mat-option *ngFor="let mecClasses of Classe " [value]="mecClasses.idClasse"> 
          {{mecClasses.nomClasse}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="p-grid table-section">
  <ag-grid-angular
  class="ag-theme-balham" 
  [rowData]="listresult" 
  [columnDefs]="columnDefs">
  </ag-grid-angular>
</div>
<div class="p-grid">
  <div class="p-col-12 bottom-section">
    <button pButton type="button" label="Sauvegarder" class="p-button-text"
      (click)="sauvegarderNote(listresult)"></button>
  </div>
</div>
<mat-divider></mat-divider>
<p-toast></p-toast>