<!doctype html>

<html>

<head>
  <title>Note</title>
</head>
<body>
    <!-- <div class="div">
<input matButton class = 'button' type="button"  value="Acceuil"> -->
  <mat-form-field>        
      <mat-label>Classe</mat-label>                                                              
    <mat-select [(ngModel)] ="classeSelectione"  (ngModelChange)="creerAgGridNoteEleve()"  >

        <mat-option *ngFor= "let mecClasses of Classe " [value]="mecClasses.idClasse">  {{mecClasses.nomClasse}}  </mat-option>
       
    </mat-select>
  </mat-form-field> 
  <button mat-raised-button color="primary" (click)="sauvegarderNote(listresult)">Sauvegarder</button>

  <!-- <mat-form-field>
      <mat-label>Matiere</mat-label>                                                              
    <mat-select [(ngModel)] ="matiereSelectionee"  (change)="selectionnermatier()" >
        <mat-option *ngFor= "let mec of matierEnseignantClasse" [value]="mec.idMatier"> {{mec.nomMatier}} </mat-option> 
    </mat-select>
</mat-form-field> -->
<!-- </div> -->
<ag-grid-angular 
    style="width: 1000px; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="listresult" 
    [columnDefs]="columnDefs" > <!-- la liste des colonnes -->
  </ag-grid-angular>
  <mat-divider></mat-divider>
<!-- <section>
  <div class="example-button-row">
  <button mat-raised-button color="primary" (click)=" enregistrerNote()" >Sauvegarder Note</button>
  </div>
</section> -->
<p-toast></p-toast>
</body>
</html>