<html>
<body>
 <form [formGroup]="profileFormGroup" (ngSubmit)="dialogClose()" (ngSubmit)="ajouterEmploie(data)">
    <table>
       <div>
        <tr>
            <mat-form-field class="input">
              <input matInput type="text" id="title" name="nomEvenement" placeholder="Nom de l'évemenemnt"  formControlName="title" required>
            </mat-form-field>
          </tr>
          
        <!-- <tr>
          <mat-form-field class="datetime">
            <input matInput type="datetime" id="start" name="dateDebut" placeholder="Date Début de l'évemenemnt" [(ngModel)]="data.popupData.start">
          </mat-form-field>
        </tr> -->
        <tr>dateDebut</tr>
        <p-calendar [(ngModel)]="data.popupData.start" showTime="true" hourFormat="24" formControlName="start"></p-calendar>
        <tr>dateFin</tr>
        <p-calendar [(ngModel)]="data.popupData.end" showTime="true" hourFormat="24"  formControlName="end"></p-calendar>

        
        <!-- <tr>
          <mat-form-field class="datetime">
            <input matInput type="date" id="dateFin" name="end " placeholder="Date Fin de l'évemenemnt " [(ngModel)]="data.popupData.end">
            </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="datetime">
            <input matInput type="datetime" id="dateFin" name="end " placeholder="Date Fin de l'évemenemnt " >
            </mat-form-field>
        </tr>-->
      <tr>
          <button mat-raised-button mat-dialog-close>Cancel</button>
          <button mat-raised-button type="submit" >Sauvegarder</button>
          <!-- <button mat-raised-button type="submit" [disabled]="!profileFormGroup.valid">Supprimer</button> -->

      </tr> 
    

      <ng-template #alertDialog>
        <h2 mat-dialog-title>voulez vous vraiment supprimer l'evénement </h2>
        <mat-dialog-actions align="end"class="footer">
          <button mat-raised-button mat-dialog-close>Cancel</button>
          <button mat-raised-button (click)="dialoggClose()">Supprimer</button>
        </mat-dialog-actions>
      </ng-template>
      
     
      </div>
     </table>
    </form>
  </body>

</html>
