<!doctype html>

<html>

<head>
  <title> creer_un_enseignant</title>
</head>

<body>
  <div class="subFormDiv" style="width: 400px;margin: 0 auto;">
      <div class="mat-input-infix mat-form-field-infix">
          <input _ngcontent-c1="" class="mat-input-element mat-form-field-autofill-control ng-pristine ng-invalid ng-touched" matinput="" name="username" placeholder="Username" required="" type="text" ng-reflect-required="" ng-reflect-name="username" ng-reflect-placeholder="Username" ng-reflect-type="text" id="mat-input-0" aria-invalid="true" aria-required="true">
      </div>
      <span class="mat-form-field-label-wrapper mat-input-placeholder-wrapper mat-form-field-placeholder-wrapper"><!--bindings={
"ng-reflect-ng-if": "true"
}--><label class="mat-form-field-label mat-input-placeholder mat-form-field-placeholder ng-tns-c2-0 mat-empty mat-form-field-empty ng-star-inserted" ng-reflect-ng-switch="false" for="mat-input-0" aria-owns="mat-input-0"><!--bindings={
"ng-reflect-ng-switch-case": "false"
}--><!---->Username<!--bindings={
"ng-reflect-ng-switch-case": "true"
}--><!--bindings={
"ng-reflect-ng-if": "true"
}--><span aria-hidden="true" class="mat-placeholder-required mat-form-field-required-marker ng-tns-c2-0 ng-star-inserted">&nbsp;*</span></label></span>
    <input _ngcontent-c1="" class="mat-input-element mat-form-field-autofill-control ng-pristine ng-invalid ng-touched" matinput="" name="username" placeholder="Username" required="" type="text" ng-reflect-required="" ng-reflect-name="username" ng-reflect-placeholder="Username" ng-reflect-type="text" id="mat-input-0" aria-invalid="true" aria-required="true">
    <table>
      <tr>
        <mat-form-field class="input">
          <input matInput type="text" id="name" name="name" placeholder="Nom de l'enseignant" appearance="standard"
            required minlength="4" maxlength="8" size="10"  [(ngModel)]="utilisateur.nom">
        </mat-form-field>
      <tr>
        <mat-form-field class="input">
          <input matInput type="text" id="prenom" name="prenom" placeholder="prénom" required minlength="4" maxlength="8" size="10"  [(ngModel)]="utilisateur.prenom">
          </mat-form-field>
      </tr>

      <tr>
        <mat-form-field class="input">
          <input matInput type="number" id="CIN" name="CIN" placeholder="CIN" min="10" max="100"  [(ngModel)]="utilisateur.cin">
          </mat-form-field>
      </tr>
      <tr>
        <mat-form-field class="input">
          <input matInput type="tel" id="phone" name="Num_de_telephone" placeholder="Numéro de téléphone" [(ngModel)]="utilisateur.numTel" >
          </mat-form-field>
      </tr>
      <tr>
        <mat-form-field class="input"><i class="material-icons">email</i>
          <input matInput type="email" id="email" pattern=".+@globex.com" placeholder="Email" size="30" required  [(ngModel)]="utilisateur.email">
          </mat-form-field>
      </tr>
      <tr>
        <mat-form-field class="input">
          <input matInput type="date" id="Date_de_naissance"  placeholder="Date de naissance" name="Date_de_naissance"  [(ngModel)]="utilisateur.dateDenaissance">
          </mat-form-field>
      </tr>
      <tr>
        <mat-form-field class="input">
          <input matInput type="text" id="username" name="username" placeholder="Login"  [(ngModel)]="utilisateur.login">
          </mat-form-field>
      </tr>
      <tr>
        <mat-form-field class="input">
          <input matInput type="password" id="pass" name="password" placeholder="Password"  [(ngModel)]="utilisateur.password">
          </mat-form-field>
      </tr>
      <input matButton class = 'button' type="button" (click)="enregistrer()" value="Sauvegarder">
      <input matButton class = 'button' type="button" (click)="afficherListeutilisateur()" value="afficherListeutilisateur()">

    </table>
  </div>
  <mat-form-field>
    <mat-label>Classe</mat-label>
    <mat-select 
                >
      <mat-option value="classe1">classe1 niv1</mat-option>
      <mat-option value="classe2">classe2 niv3</mat-option>
      <mat-option value="classe3">classe3 niv4</mat-option>
    </mat-select>
  </mat-form-field>
s  
</body>

</html>
