<h3 class="main-title">{{selectedScreen}}</h3>
<div class="p-grid filter-section">
  <div class="p-col-auto">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <div class="p-col-auto">
    <button mat-raised-button pTooltip="Ajouter un nouveau utlisateur" (click)="ajouterEnseignant(enseignant)"
      style="font-size:40px;color:gray;">+</button>
  </div>
</div>
<div class="p-grid table-section">
  <mat-header-cell *matHeaderCellDef>
    <mat-checkbox (change)="$event ? null: null" [checked]="selection.hasValue() && isAllSelected()"
      [indeterminate]="selection.hasValue() && !isAllSelected()">
    </mat-checkbox>
  </mat-header-cell>
  <mat-cell *matCellDef="let row">
    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
      [checked]="selection.isSelected(row)">
    </mat-checkbox>
  </mat-cell>

  <mat-table #table [dataSource]="listEnseignantdata">
    <ng-container matColumnDef="supprimer">
      <mat-header-cell *matHeaderCellDef> Supprimer </mat-header-cell>
      <mat-cell *matCellDef="let enseignant"> <button pButton icon="pi pi-trash"
          (click)="supprimerEnseignant(enseignant)" value="Supprimer enseignant"></button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="modifier">
      <mat-header-cell *matHeaderCellDef> Modifier </mat-header-cell>
      <mat-cell *matCellDef="let enseignant"> <button pButton icon="pi pi-pencil" 
 (click)="modifierEnseignant(enseignant)"></button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
      <mat-cell *matCellDef="let enseignant"> {{enseignant.nom}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="prenom">
      <mat-header-cell *matHeaderCellDef> Prénom </mat-header-cell>ss
      <mat-cell *matCellDef="let  enseignant"> {{enseignant.prenom}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="identifiant">
      <mat-header-cell *matHeaderCellDef> CIN </mat-header-cell>
      <mat-cell *matCellDef="let enseignant"> {{enseignant.identifiant }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numTel">
      <mat-header-cell *matHeaderCellDef> Numéro de téléphone </mat-header-cell>
      <mat-cell *matCellDef="let enseignant"> {{enseignant.numTel }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef style="width:140px"> Email </mat-header-cell>
      <mat-cell *matCellDef="let enseignant"> {{enseignant.email }} </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="dateNaissance">
      <mat-header-cell *matHeaderCellDef> Date de Naissance </mat-header-cell>
      <mat-cell *matCellDef="let enseignant"> {{enseignant.dateNaissanceString }} </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Login </mat-header-cell>
      <mat-cell *matCellDef="let enseignant"> {{enseignant.username }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="adresse">
      <mat-header-cell *matHeaderCellDef>Adresse </mat-header-cell>
      <mat-cell *matCellDef="let enseignant"> {{enseignant.adresse }} </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="password">
      <mat-header-cell *matHeaderCellDef> Mot de passe </mat-header-cell>
      <mat-cell *matCellDef="let enseignant"> {{enseignant.password }} </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>


<ng-template #alertDialog>
  <h2 mat-dialog-title>voulez vous vraiment supprimer l'enseignant </h2>
  <mat-dialog-actions align="end" class="footer">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button (click)="dialogClose()">Supprimer</button>
  </mat-dialog-actions>
</ng-template>
<p-toast></p-toast>