<!doctype html>

<html>

<head>
  <title> Ajouter un Examen </title>
</head>

<body>
  
    <table>
       <div>
       
        <tr>
          <mat-form-field class="input">
            <input matInput type="text" id="matiere" form [formGroup]="profileForm" name="matiere" class="form-control" placeholder="Matiéres" [formControl]="data.matiere.nomMatier">
          </mat-form-field>
        </tr>
        
  

        
        <tr>
          <mat-form-field class="input">
            <input matInput type="number" id="coefficeint" name="coefficeint " placeholder="coefficeint " [formControl]="data.matiere.coefficeint">
            </mat-form-field>
        </tr>
    
        <tr>
          <button mat-raised-button mat-dialog-close>Cancel</button>
          <button mat-raised-button type="submit" [disabled]="!profileForm.valid" (click)="dialogClose()">Sauvegarder</button>
      </tr>
      </div>
     </table>
     
  
  </body>

</html>
