<!doctype html>

<html>

<head>
  <title> Ajouter un Examen </title>
</head>

<body>
  <form [formGroup]="profileFormGroup" (ngSubmit)="dialogClose()">
    <table>
       <div>
       
        <tr>
          <mat-form-field class="input">
            <input matInput type="text" id="matiere"  placeholder="Matiéres"  formControlName="nomMatier" required>
          </mat-form-field>
        </tr>
        
  

        
        <tr>
          <mat-form-field class="input">
            <input matInput type="number" id="coefficient" name="coefficient " placeholder="coefficeint " formControlName="coefficeint" required>
            </mat-form-field>
        </tr>
    
        <tr>
          <button mat-raised-button mat-dialog-close>Cancel</button>
          <button mat-raised-button type="submit" [disabled]="!profileFormGroup.valid">Sauvegarder</button>
      </tr>
      </div>
     </table>
    </form>  
  </body>

</html>
