table {
    width: 100%;
  }

  /*--STYLE TABLE--*/
.ag-theme-balham .ag-root {
  border: 1px solid #eeeeee;
}
.ag-theme-balham .ag-header {
  background-color: #298add;
  color: rgb(255 255 255);
  font-weight: 600;
  font-size: 12px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  border-bottom: 1px solid #298add;
}
.ag-theme-balham .ag-row {
  border-color: #eeeeee;
}

/*--CHECKBOX STYLE--*/
::ng-deep body .table-section .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
  overflow: hidden;
  position: relative;
  font-size: 11px;
  top: 2px;
}


p-fullcalendar {
  padding: 0 10px 0 10px;
}

::ng-deep body .fc-button-group {
  border: 1px solid #e2e2e2;
  padding: 2px;
  border-radius: 3px;
}
::ng-deep body .fc .fc-toolbar .fc-button-group .fc-button:first-child {
 margin-right: 2px !important;
}
::ng-deep body .fc .fc-toolbar .fc-button-group .fc-button:last-child {
  margin-left: 2px !important;
 }
/* ::ng-deep body button.fc-prev-button.fc-button.fc-button-primary {
  margin-right: .4px;
 } */

 button.fc-next-button.fc-button.fc-button-primary {
  background-color: #368ac0;
}

::ng-deep body .bottom-section {
padding-right: 10px!important
}; 

::ng-deep body .p-grid.table-section {
    height: calc(100vh - 270px);
  }